var/
url/
elpa/
cache/
share/
.cache/
eshell/
modules/
persist/
request/
straight/
transient/
tree-sitter/
auto-save-list/
debug-adapters/
eglot-java-eclipse-jdt-cache/
tramp
history
recentf
projects
.DS_Store
nov-places
mastodon.plstore
.org-id-locations
org-clock-save.el
forge-database.sqlite
.aider*
