var/
url/
elpa/
cache/
share/
.cache/
eshell/
modules/
persist/
request/
dirvish/
straight/
eln-cache/
tutorial/
transient/
speed-type/
tree-sitter/
auto-save-list/
debug-adapters/
eglot-java-eclipse-jdt-cache/
tramp
history
recentf
projects
.DS_Store
nov-places
mastodon.plstore
.org-id-locations
.java-version
org-clock-save.el
.bookmarks.el
forge*.sqlite
*.eld
*.db
.aider*
