.DS_Store
.cache/
.org-id-locations
auto-save-list/
cache/
forge-database.sqlite
history
mastodon.plstore
modules/
org-clock-save.el
persist/
projects
recentf
share/
straight/
tramp
transient/
tree-sitter/
var/
debug-adapters/